@import "skeleton";

$bright-red: #FF2D00;

$black:#050505;

@font-face {
	font-family: 'Helvetica Neue Bold';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/HelveticaNeueBold.woff') format('woff');
}

@font-face {
	font-family: 'Sintony';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/Sintony-Regular.otf') format('otf');
}

@font-face {
	font-family: 'Sintony Bold';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/Sintony-Bold.otf') format('otf');
}
#navbar{
position:relative;
	min-height: 15vh;
	min-width:100%;
	background-size:cover;

}

#navbar-logo{
	position:absolute;
	top:33%;
}

#navbar-links{
	position:absolute;
	top:33%;
	color:$black;
	right:0;
	text-align: right;
}


#hero {
	position:relative;
	background-image: url("../images/BG.png");
	min-width:100%;
	background-size:cover;
}

#header {
	position:relative;
	min-height: 78vh;
	min-width:100%;
	background-size:cover;
}

.header-text {
	color: $black;
	position:absolute;
	bottom:18%;

}
.header-subtitle {
	color: $bright-red;
    text-transform: uppercase;

}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
	bottom:0;
	display:inline-block;
	left:0;
}


canvas{
	position:absolute;
}