
$bright-red: #FF2D00;

$black:#050505;
$barely-gray: rgb(239,239,239);

body{
	 background-color: white;
	
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/HelveticaNeueBold.woff') format('woff');
}

@font-face {
	font-family: 'Colfax Medium';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/Colfax-Medium.woff') format('woff');
}


@font-face {
	font-family: 'Sintony';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/Sintony-Regular.otf') format('otf');
}

@font-face {
	font-family: 'Sintony Bold';
	font-style: normal;
	font-weight: normal;
	src:  url('../fonts/Sintony-Bold.otf') format('otf');
}

//GLOBAL CLASSES
//************************************
.relative{
	position:relative;
}

.absolute{
	position:absolute;
	bottom:0;
	display:inline-block;
	left:0;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

// NAVBAR
//************************************

#navbar{
	position:relative;
	min-height: 15vh;
	min-width:100%;
	background-size:cover;

}

#navbar-logo{
	position:absolute;
	top:33%;
}

#navbar-links{
	position:absolute;
	top:33%;
	color:$black;
	right:0;
}

nav a {
	position: relative;
	display: inline-block;
	width: 6em;
	margin: 15px 25px;
	outline: none;
	color: $black;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}


nav a:hover,
nav a:focus {
	outline: none;
}
.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 0 15px;
}

.cl-effect-10 a h5 {
	display: block;
	// padding: 10px 20px;
	// border-style : solid;
	// border-color: white;
	// border-width: 1px;
	// background: #0f7c67;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	// width: 100%;
	height: 20%;
	background: $black;
	color: #0f7c67;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-101%);
}

.cl-effect-10 a:hover h5,
.cl-effect-10 a:focus h5 {
	// -webkit-transform: translateX(100%);
	// -moz-transform: translateX(100%);
	// transform: translateX(100%);
	color:white;
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}
.cl-effect-10 a:hover,
.cl-effect-10 a:focus {
		color: $black;

}

.line-separator{

	height:1px;

	background:$bright-red;

	border-bottom:1px solid $bright-red;
	border-radius: 10px;

}


// HEADER
//************************************
#hero {
	position:relative;
	background-image: url("../images/BG.png");
	min-width:100%;
	background-size:cover;
}

#header {
	position:relative;
	min-height: 83vh;
	min-width:100%;
	background-size:cover;
}

.header-text {
	color: $black;
	position:absolute;
	bottom:18%;

}
.subtitle {
	color: $bright-red;
    text-transform: uppercase;

}

// HEADER CANVAS
//************************************

canvas{
	position:absolute;
	background: -webkit-linear-gradient($barely-gray, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($barely-gray, white); /*For Opera 11.1 to 12.0*/
	background: -moz-linear-gradient($barely-gray, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient($barely-gray, white); /* Standard syntax */
}




// ITEMS
//************************************

.parallax {
	position: relative;
    width: 100%;
 
    z-index:0;
}
.parallax h5 { 
   position: absolute; 
   bottom: 10%; 
   width: 100%;
   vertical-align: middle;
   z-index:1; 
   margin: 0em 7rem auto;
   color:white;
}



.item-text {
	position:absolute;
	vertical-align: middle;
	z-index:1;
}


.item {
	position: relative;
	min-height: 15rem;

    background-color: $barely-gray;
}



